@page
@model Goose_Panda_love_Coffee.Pages.Classes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.className)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.className)
        </dd>
    </dl>
    @if(Model.Class != null && Model.Class.Enrolled != null){
       <table>
           
               <tr>
                   <th>First</th>
                   <th>Last</th>
               </tr>
               
           
        @foreach (var student in Model.Class.Enrolled){
            
                <tr>
                    <td>@student.First</td>
                    <td>@student.Last</td>
                </tr>

            
        }
        </table>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Class.classId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
