@page
@model Goose_Panda_love_Coffee.Pages_Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classes[0].ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes[0].Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClassesId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClassesId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClassesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
