@page
@model Goose_Panda_love_Coffee.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].className)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
               <a asp-page="./Details" asp-route-id="@item.classId">@Html.DisplayFor(modelItem => item.className)</a> 
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.classId">Edit</a> |
                
                <a asp-page="./Delete" asp-route-id="@item.classId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
